<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Name web site">
<title>welcome to website</title>
<!-- reference style -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<!--<link rel="stylesheet" type="text/css" href="/static/CSS/plugins.css" /> -->
<link rel="stylesheet" type="text/css" href="/static/CSS/style2.css" />
<!--<script type="text/javascript" src="/static/js/modernizr.custom.js"></script>-->
<script type="text/javascript">
    function clickToshowInfor() {
        var object=document.getElementById("{{ c.caseId }}")
        alert(object.id)
    }
</script>
</head>
<body>
<div class="edrea_tm_all_wrap" data-magic-cursor="show" data-enter="fadeInUp" data-exit="">
		<div class="waves"></div>
        <!-- LOGO -->
		<div class="edrea_tm_topbar">
			<div class="topbar_inner">
				<div class="logo">
					<a href="#"><img src="/static/CSS/img/logo/logo2.png" alt="" /></a>
				</div>
			</div>
		</div>
        <!-- BAR -->
		<div class="edrea_tm_mobile_menu">
			<div class="inner">
				<div class="menu_list">
					<ul class="transition_link">
						<li><a href="/homepage/">Home</a></li>
						<li><a href="/patternpage/">pattern</a></li>
						<li class="active"><a href="#">cases management</a></li>
						<li><a href="/contact/">feedback</a></li>
                        <li>Hello <span class="coloring">{{user}} </span>
							<a href="/signout/" style="color: #4481eb;">Sign Out</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- HEADER -->
		<div class="edrea_tm_header">
			<div class="header_inner">
				<div class="logo">
					<a href="#"><img src="/static/CSS/img/logo/logo2.png" alt="" /></a>
				</div>
				<div class="menu">
					<ul class="transition_link">
						<li><a href="/homepage/">Home</a></li>
						<li><a href="/patternpage/">pattern</a></li>
						<li class="active"><a href="/cases/">cases management</a></li>
						<li><a href="/contact/">feedback</a></li>
                        <li>Hello <span class="coloring">{{user}} </span>
							<a href="/signout/" style="color: #4481eb;">Sign Out</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /HEADER -->
<div class="edrea_tm_content">
		<!-- CONTENT CASE OPERATER-->
		<div class="edrea_tm_section active" id="input">
				<div class="section_inner">
					<div class="edrea_tm_contact">
						<div class="edrea_tm_main_title">
							<h3>Hello, <span class="coloring">{{ user }} !</span></h3>
                            <h5>You are currently viewing Case <span class="coloring">{{ caseName }}</span>.The following shows a real-time status report for the case and a legal feasibility report</h5>
						</div>
						<div class="wrapper">
							<div class="left">
								<ul>
									<li>
										<div class="list_inner">
                                            <div class="edrea_tm_button transition_link">
                                                <a href="/cases/">DashBoard</a>
						                    </div>
										</div>
									</li>
									<li>
										<div class="list_inner">
                                            <div class="edrea_tm_button transition_link">
							                <a href="/View/">Cases</a>
						                    </div>
										</div>
									</li>
									<li>
										<div class="list_inner">
                                            <div class="edrea_tm_button transition_link">
							                <a href="/Evidence/">Avidence</a>
						                    </div>
										</div>
									</li>
									<li>
										<div class="list_inner">
                                            <div class="edrea_tm_button transition_link">
							                <a href="/source/">Sources</a>
						                    </div>
										</div>
									</li>
								</ul>
							</div>
							<div class="right">
                            <div class="edrea_tm_button transition_link">
                                   <a href="/View/"  style="color:white; background-color: red">Back to my cases</a>
                             </div>
                                <h6>There are {{ Elen }} pieces of evidence in the current case,as following:</h6>
                            {% for e in Evidence %}
                            <div class="list_inner">
                                            <h6><span class="coloring">{{ e.EvidenceName }}</span></h6>
                            </div>
                            {% endfor %}
                            <h6>There are {{ Slen }} pieces of source in the current case,as following:</h6>
                            {% for s in Source %}
                            <div class="list_inner">
                                            <h6><span class="coloring">{{ s.SourceName }}</span></h6>
                            </div>
                            {% endfor %}
                                <h6>The case is currently completed by the following participants:</h6>
                            {% for p in Partic %}
                                <div class="list_inner">
                                            <h6><span class="coloring">{{ p }}</span></h6>
                               </div>
                            {% endfor %}
                                <hr/>
                                <hr/>
                                <h4>Legal feasibility advice</h4>
                                <h5>Your case involves the following countries:<span class="coloring">{% for c in typelist %} {{ c }} {% endfor %}</span></h5>
                                <h6 style="color: coral">Potential data transfer conflict(Arrows represent the direction of data flow):</h6>
                                {% if not confilactintransfer  %}
                                    <p style="color: #4CAF50">This case do not have data transfer conflict</p>
                                {% endif %}
                                {% if confilactintransfer != NULL %}
                                    {% for c in confilactintransfer %}
                                    <p style="color: #eb4a4c">{{ c }}</p>
                                    {% endfor %}
                                {% endif %}
                                <hr/>
                                <hr/>

                                <h4>key Disclosure</h4>
                                <h6>If there is an encrypted source in the case, you can seek key disclosure based on this advice</h6>
                                <br/>
                             {% if Slen == 0  %}
                                 <p style="color: #F52225">No data sources available for analysis, please add first</p>
                             {% endif %}
                            <!-- Eu -->
                            {% if lconfilactinkeyEU != 0 %}
                                <h5 style="color: #acacac">Source located in EU:</h5>
                             {% for k in confilactinkeyEU %}
                                 <p style="color: #3A00FF">{{ k }}</p>
                             {% endfor %}
                                <p class="coloring">Note that the EU does not have current data disclosure laws, so please refer to Member country legislation provided here:</p>
                                <p style="color: #4CAF50"> you are empowered to request keys from individuals to disclusure In:<span style="color: #4CAF50">Netherlands, Ireland, France, Finland, Belgium</span></p>
                                <br/>
                            {% endif %}
                            <!-- US -->
                            {% if lconfilactinkeyUS != 0 %}
                                <h5 style="color: #acacac">Source located in US:</h5>
                             {% for k in confilactinkeyUS %}
                                 <p style="color: #3A00FF">{{ k }}</p>
                             {% endfor %}
                                <p class="coloring">You are NOT empowered to request keys from individuals to disclusure,cause The Fifth Amendment to the U.S. Constitution protects witnesses from self-incrimination</p>
                                <br/>
                            {% endif %}
                            <!-- UK -->
                            {% if lconfilactinkeyUK != 0 %}
                                <h5 style="color: #acacac">Source located in UK:</h5>
                             {% for k in confilactinkeyUK %}
                                 <p style="color: #3A00FF">{{ k }}</p>
                             {% endfor %}
                                <p style="color: #4CAF50">You are empowered to request keys from individuals to disclusure,cause The RIPA(Regulation of Investigatory Powers Act (2000)) gives you this right</p>
                                <br/>
                            {% endif %}
                            <!--CHINA -->
                            {% if lconfilactinkeyCHINA != 0 %}
                                <h5 style="color: #acacac">Source located in CHINA:</h5>
                             {% for k in confilactinkeyCHINA %}
                                 <p style="color: #3A00FF">{{ k }}</p>
                             {% endfor %}
                                <p class="coloring">You are NOT empowered to request keys from individuals to disclusure,cause According to the Constitution of the People's Republic of China, no public authority or investigative agency can force citizens to disclose keys</p>
                                <br/>
                            {% endif %}
                            <!--RUSSIAN -->
                            {% if lconfilactinkeyRUSSIAN != 0 %}
                                <h5 style="color: #acacac">Source located in RUSSIAN:</h5>
                             {% for k in confilactinkeyRUSSIAN %}
                                 <p style="color: #3A00FF">{{ k }}</p>
                             {% endfor %}
                                <p style="color: #4CAF50">You are empowered to request keys from individuals to disclusure,cause Under data localization laws, investigative agencies are able to automatically access encryption keys to decrypt user devices without authorization</p>
                                <br/>
                            {% endif %}
                            <!--INDIA -->
                            {% if lconfilactinkeyINDIA != 0 %}
                                <h5 style="color: #acacac">Source located in INDIA:</h5>
                             {% for k in confilactinkeyINDIA %}
                                 <p style="color: #3A00FF">{{ k }}</p>
                             {% endfor %}
                                <p style="color: #4CAF50">You are empowered to request keys from individuals to disclusure,cause This power is given to you under the Information Technology (Amendment) Act 2008</p>
                                <br/>
                            {% endif %}
                               <hr/>
                               <hr/>
                                <h4>Handle Privacy:</h4>
                                <p>Since the current legal system is still ambiguous about the scope of digital investigations, this recommendation defaults that all personal privacy data is within the scope of forensics, and is committed to respecting personal privacy to the greatest extent possible in the process of obtaining evidence</p>
                                <br/>
                             {% if Slen == 0  %}
                                 <p style="color: #F52225">No data sources available for analysis, please add first</p>
                             {% endif %}
                            <!-- Eu -->
                            {% if lconfilactinkeyEU != 0 %}
                                <h5 style="color: #acacac">Source located in EU:</h5>
                             {% for k in confilactinkeyEU %}
                                 <p style="color: #3A00FF">{{ k }}</p>
                             {% endfor %}
                                <p class="coloring">Processing this private source requires EXPRESS CONSENT of individual</p>
                                <p style="color: #4CAF50">However, the GDPR will not prevent law enforcement agencies performing statutory law enforcement functions from accessing personal data, and you can seek their help</p>
                                <br/>
                            {% endif %}
                            <!-- US -->
                            {% if lconfilactinkeyUS != 0 %}
                                <h5 style="color: #acacac">Source located in US:</h5>
                             {% for k in confilactinkeyUS %}
                                 <p style="color: #3A00FF">{{ k }}</p>
                             {% endfor %}
                                <p class="coloring">Processing this private source requires EXPRESS CONSENT of individual</p>
                                 <p style="color: #4CAF50">In order not to infringe on personal privacy, please seek the help of Law enforcement agencies in US. They can obtain private data of individuals with a search warrant.</p>
                                <br/>
                            {% endif %}
                            <!-- UK -->
                            {% if lconfilactinkeyUK != 0 %}
                                <h5 style="color: #acacac">Source located in UK:</h5>
                             {% for k in confilactinkeyUK %}
                                 <p style="color: #3A00FF">{{ k }}</p>
                             {% endfor %}
                                <p class="coloring">Processing this private source requires EXPRESS CONSENT of individual，accourding to Data Protection Act 2018</p>
                                <p style="color: #4CAF50">equivalent to the European Union, law enforcement agencies can performing statutory law enforcement functions from accessing personal data, and you can seek their help</p>
                                <br/>
                            {% endif %}
                            <!--CHINA -->
                            {% if lconfilactinkeyCHINA != 0 %}
                                <h5 style="color: #acacac">Source located in CHINA:</h5>
                             {% for k in confilactinkeyCHINA %}
                                 <p style="color: #3A00FF">{{ k }}</p>
                             {% endfor %}
                                <p class="coloring">Processing this private source requires EXPRESS CONSENT of individual and Chinese official authorization</p>
                                <p style="color: #4CAF50">In order not to infringe on personal privacy, please seek the help of Chinese investigative agencies. They will not infringe on citizens' privacy rights when collecting and processing private information.</p>
                                <br/>
                            {% endif %}
                            <!--RUSSIAN -->
                            {% if lconfilactinkeyRUSSIAN != 0 %}
                                <h5 style="color: #acacac">Source located in RUSSIAN:</h5>
                             {% for k in confilactinkeyRUSSIAN %}
                                 <p style="color: #3A00FF">{{ k }}</p>
                             {% endfor %}
                                <p class="coloring">Processing this private source requires WRITTEN CONSENT of the relevant data subject，cause Federal Law No.152-FZ，PD Law expressly stipulated</p>
                                <p style="color: #4CAF50">In order not to infringe on personal privacy, please seek the help of Russian investigative agencies. They will not infringe on citizens' privacy rights when collecting and processing private information.</p>
                                <br/>
                            {% endif %}
                            <!--INDIA -->
                            {% if lconfilactinkeyINDIA != 0 %}
                                <h5 style="color: #acacac">Source located in INDIA:</h5>
                             {% for k in confilactinkeyINDIA %}
                                 <p style="color: #3A00FF">{{ k }}</p>
                             {% endfor %}
                                <p class="coloring">Processing this private source requires EXPRESS CONSENT of individual,cause Personal Data Protection Bill 2019 expressly stipulated</p>
                                <p style="color: #4CAF50">In order not to infringe on personal privacy, please seek the help of India investigative agencies. They will not infringe on citizens' privacy rights when collecting and processing private information.</p>
                                <br/>
                            {% endif %}
                            </div>
						</div>
					</div>
                </div>
        </div>
</div>
<!-- SCRIPTS -->
<script src="/static/js/jquery.js"></script>
<script src="/static/js/plugins.js"></script>
<script src="/static/js/script.js"></script>

<!-- /SCRIPTS -->

</body>
</html>