<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Name web site">
<title>welcome to website</title>
<!-- reference style -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<!--<link rel="stylesheet" type="text/css" href="/static/CSS/plugins.css" /> -->
<link rel="stylesheet" type="text/css" href="/static/CSS/style2.css" />
<!--<script type="text/javascript" src="/static/js/modernizr.custom.js"></script>-->
<script type="text/javascript">
    function clickToshowInfor() {
        var object=document.getElementById("{{ c.caseId }}")
        alert(object.id)
    }
</script>
</head>
<body>
<div class="edrea_tm_all_wrap" data-magic-cursor="show" data-enter="fadeInUp" data-exit="">
		<div class="waves"></div>
        <!-- LOGO -->
		<div class="edrea_tm_topbar">
			<div class="topbar_inner">
				<div class="logo">
					<a href="#"><img src="/static/CSS/img/logo/logo2.png" alt="" /></a>
				</div>
			</div>
		</div>
        <!-- BAR -->
		<div class="edrea_tm_mobile_menu">
			<div class="inner">
				<div class="menu_list">
					<ul class="transition_link">
						<li><a href="/homepage/">Home</a></li>
						<li><a href="/patternpage/">pattern</a></li>
						<li class="active"><a href="#">cases management</a></li>
						<li><a href="/contact/">feedback</a></li>
                        <li>Hello <span class="coloring">{{user}} </span>
							<a href="/signout/" style="color: #4481eb;">Sign Out</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- HEADER -->
		<div class="edrea_tm_header">
			<div class="header_inner">
				<div class="logo">
					<a href="#"><img src="/static/CSS/img/logo/logo2.png" alt="" /></a>
				</div>
				<div class="menu">
					<ul class="transition_link">
						<li><a href="/homepage/">Home</a></li>
						<li><a href="/patternpage/">pattern</a></li>
						<li class="active"><a href="/cases/">cases management</a></li>
						<li><a href="/contact/">feedback</a></li>
                        <li>Hello <span class="coloring">{{user}} </span>
							<a href="/signout/" style="color: #4481eb;">Sign Out</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /HEADER -->
<div class="edrea_tm_content">
		<!-- CONTENT CASE OPERATER-->
		<div class="edrea_tm_section active" id="input">
				<div class="section_inner">
					<div class="edrea_tm_contact">
						<div class="edrea_tm_main_title">
							<h3>Hello, <span class="coloring">{{ user }} !</span> all your cases show here:</h3>
                            <h5>Your user key is <span class="coloring">{{ userkey }}</span>,This is very important for your cooperate work, please keep it safe<h5>
						</div>
						<div class="wrapper">
							<div class="left">
								<ul>
									<li>
										<div class="list_inner">
                                            <div class="edrea_tm_button transition_link">
                                                <a href="/cases/">DashBoard</a>
						                    </div>
										</div>
									</li>
									<li>
										<div class="list_inner">
                                            <div class="edrea_tm_button transition_link">
							                <a href="/View/">Cases</a>
						                    </div>
										</div>
									</li>
									<li>
										<div class="list_inner">
                                            <div class="edrea_tm_button transition_link">
							                <a href="/Evidence/">Evidence</a>
						                    </div>
										</div>
									</li>
									<li>
										<div class="list_inner">
                                            <div class="edrea_tm_button transition_link">
							                <a href="/source/">Sources</a>
						                    </div>
										</div>
									</li>
								</ul>
							</div>
							<div class="right">
                            <div class="edrea_tm_main_title">
							<h5>Your current account has<span class="coloring"> {{ listlen }}</span> cases</h5>
                                <h6>You can browse all evidences contained by clicking the 'Evidence' button below the case</h6>
                                <p style="color: #F52225">Note：Please use the delete button carefully, it will clear the case itself and all the evidence and sources related</p>
						    </div>
                            <!-- CASE INFOR -->
                                    {% for c,echeck,scheck in caselist %}
                                        <div class="list_inner">
                                            <h4><span class="coloring">{{ c.caseName }} </span> </h4>
                                             <div class="edrea_tm_button transition_link">
                                                <a href="/AnalyzeMode/?caseid={{ c.caseId }}">Analyze This Case</a>
                                            </div>
                                                <div class="text_hiden" id="hidenDiv">
                                                <P><span class="coloring">Case ID:</span>{{ c.UserInputId }} </P>
                                                <p><span class="coloring">Case Investigator:</span>{{ c.caseInv }} </p>
                                                     <p><span class="coloring">Origin Country:</span>{{ c.caseOriginCountry }} </p>
                                                    <p><span class="coloring">Case Scope:</span>{{ c.caseScope | upper }}</p>
                                                    <p><span class="coloring">Case Synopsis:</span></p>
                                                    <textarea name="" rows="10" cols="30" >{{ c.casesynopsis }}</textarea>
                                                </div>
                                             <h5>Simple check:</h5>
                                             <h6>{% if echeck == 0 %}<span style="color: #F52225">&#10006;Have evidence that cannot be safely transmitted {% endif %}</h6>
                                             <h6>{% if echeck == 1 %}<span style="color: #4CAF50">&#10004;All evidence can be safely transmitted {% endif %}</h6>
                                             <h6>{% if echeck == -1 %} <span style="color: #ffec0e">&#65533;There is currently no Evidence for this case {% endif %}</h6>
                                             <h6>{% if scheck == -1 %} <span style="color: #ffec0e">&#65533;There is currently no Source for this case {% endif %}</h6>
                                             <h6>{% if scheck == 1 %}<span style="color: #F52225">&#10006;There are potentially illegal data sources in this case{% endif %}</h6>
                                             <h6>{% if scheck == 0 %}<span style="color: #4CAF50">&#10004;All sources respect privacy and data disclosure laws{% endif %}</h6>
                                            <div class="edrea_tm_button transition_link">
                                                <a href="/ShowCaseEvidence/?caseid={{ c.caseId }}">Evidence</a><a href="/DeleteCase/?caseid={{ c.caseId }}">Delelte</a><a href="/UpdateCase/?caseid={{ c.caseId }}">Edit</a>
                                            </div>
										</div>
                                        <hr/>
                                        <hr/>
                                    {% endfor %}
                             <div class="list_inner">
                                  <div class="edrea_tm_button transition_link">
                                   <a href="/Setupnewcase/" class="newcase_button" style="color: #4CAF50; background-color: aqua">Set up a new case</a>
                                  </div>
                             </div>
                            </div>
						</div>
					</div>
                </div>

        </div>
</div>
<!-- SCRIPTS -->
<script src="/static/js/jquery.js"></script>
<script src="/static/js/plugins.js"></script>
<script src="/static/js/script.js"></script>

<!-- /SCRIPTS -->

</body>
</html>