<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Name web site">
<title>welcome to website</title>
<!-- reference style -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<!--<link rel="stylesheet" type="text/css" href="/static/CSS/plugins.css" /> -->
<link rel="stylesheet" type="text/css" href="/static/CSS/style.css" />
<!--<script type="text/javascript" src="/static/js/modernizr.custom.js"></script>-->

</head>
<body>
<div class="edrea_tm_all_wrap" data-magic-cursor="show" data-enter="fadeInUp" data-exit="">
		<div class="waves"></div>
        <!-- logo -->
		<div class="edrea_tm_topbar">
			<div class="topbar_inner">
				<div class="logo">
					<a href="#"><img src="/static/CSS/img/logo/logo2.png" alt="" /></a>
				</div>
			</div>
		</div>
        <!-- bar -->
		<div class="edrea_tm_mobile_menu">
			<div class="inner">
				<div class="menu_list">
					<ul class="transition_link">
						<li><a href="/homepage/">Home</a></li>
						<li><a href="/patternpage/">pattern</a></li>
						<li><a href="/cases/">cases management</a></li>
						<li class="active"><a href="/contact/">Contact and feedback</a></li>
                        <li>Hello {{user}} </li>
					</ul>
				</div>
			</div>
		</div>

		<!-- HEADER -->
		<div class="edrea_tm_header">
			<div class="header_inner">
				<div class="logo">
					<a href="#"><img src="/static/CSS/img/logo/logo2.png" alt="" /></a>
				</div>
				<div class="menu">
					<ul class="transition_link">
						<li><a href="/homepage/">Home</a></li>
						<li><a href="/patternpage/">pattern</a></li>
						<li><a href="/cases/">cases management</a></li>
						<li class="active"><a href="/contact/">Contact and feedback</a></li>
                        <li>Hello <span class="coloring">{{user}} </span></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /HEADER -->
<div class="edrea_tm_content">
            <!-- CONTACT/FEEDBACK-->
			<div class="edrea_tm_section active" id="contact">
				<div class="section_inner">
					<div class="edrea_tm_contact">
						<div class="edrea_tm_main_title">
							<h3>Get in Touch &<span class="coloring">Give some Feedback</span></h3>
						</div>
						<div class="wrapper">
							<div class="left">
								<ul>
									<li>
										<div class="list_inner">
											<i class="icon-location"></i>
											<span><a href="https://www.google.com/maps/place/Vita+Student+West+End+-+Student+Accommodation+Glasgow/@55.8690377,-4.3057205,19.42z/data=!4m5!3m4!1s0x488845db9dab9b09:0xf6c13214c2aa4ff9!8m2!3d55.869016!4d-4.3057957?hl=zh-CN" class="href_location">21 Beith St, Glasgow G11 6BZ</a></span>
										</div>
									</li>
									<li>
										<div class="list_inner">
											<i class="icon-phone"></i>
											<span><a href="#">+44 7529 197458</a></span>
										</div>
									</li>
									<li>
										<div class="list_inner">
											<i class="icon-mail-1"></i>
											<span><a href="mailto:hyuan4934@gmail.com">hyuan4934@gmail.com</a></span>
										</div>
									</li>
									<li>
										<div class="list_inner">
											<i class="icon-facebook-rect"></i>
											<span><a href="https://twitter.com/">@hao05150575</a></span>
										</div>
									</li>
								</ul>
							</div>
							<div class="right">
								<div class="fields">
									<form action="/" method="post" class="contact_form" id="contact_form">
										<div class="returnmessage" data-success="Your message has been received, We will contact you soon."></div>
										<div class="empty_notice"><span>Please Fill Required Fields</span></div>
										<div class="first">
											<ul>
												<li>
													<div class="list_inner">
														<input id="name" type="text" placeholder="Name" autocomplete="off">
													</div>
												</li>
												<li>
													<div class="list_inner">
														<input id="email" type="text" placeholder="Email" autocomplete="off">
													</div>
												</li>
											</ul>
										</div>
										<div class="last">
											<textarea id="message" placeholder="Your comments are important to me "></textarea>
										</div>
										<div class="edrea_tm_button">
											<a id="send_message" href="#">Send Feed back</a>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /CONTACT/FEEDBECK-->
</div>
<!-- SCRIPTS -->
<script src="/static/js/jquery.js"></script>
<script src="/static/js/plugins.js"></script>
<!-- /SCRIPTS -->

</body>
</html>