<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Name web site">
<title>welcome to website</title>
<!-- reference style -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<!--<link rel="stylesheet" type="text/css" href="/static/CSS/plugins.css" /> -->
<link rel="stylesheet" type="text/css" href="/static/CSS/style2.css" />
<!--<script type="text/javascript" src="/static/js/modernizr.custom.js"></script>-->

</head>
<body>
<div class="edrea_tm_all_wrap" data-magic-cursor="show" data-enter="fadeInUp" data-exit="">
		<div class="waves"></div>
        <!-- logo -->
		<div class="edrea_tm_topbar">
			<div class="topbar_inner">
				<div class="logo">
					<a href="#"><img src="/static/CSS/img/logo/logo2.png" alt="" /></a>
				</div>
			</div>
		</div>
        <!-- bar -->
		<div class="edrea_tm_mobile_menu">
			<div class="inner">
				<div class="menu_list">
					<ul class="transition_link">
						<li><a href="/homepage/">Home</a></li>
						<li><a href="/patternpage/">pattern</a></li>
						<li class="active"><a href="/cases/">cases management</a></li>
						<li><a href="/contact">Contact and feedback</a></li>
                        <li>Hello {{user}} </li>
					</ul>
				</div>
			</div>
		</div>

		<!-- HEADER -->
		<div class="edrea_tm_header">
			<div class="header_inner">
				<div class="logo">
					<a href="#"><img src="/static/CSS/img/logo/logo2.png" alt="" /></a>
				</div>
				<div class="menu">
					<ul class="transition_link">
						<li><a href="/homepage/">Home</a></li>
						<li><a href="/patternpage/">pattern</a></li>
						<li class="active"><a href="/cases/">cases management</a></li>
						<li><a href="/contact/">Contact and feedback</a></li>
                        <li>Hello <span class="coloring">{{user}} </span></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /HEADER -->
<div class="edrea_tm_content">
		<!-- CONTENT CASE OPERATER-->
		<div class="edrea_tm_section active" id="input">
				<div class="section_inner">
					<div class="edrea_tm_contact">
						<div class="edrea_tm_main_title">
							<h5>On this page, you can browse all the evidence you uploaded</h5>
                            <h5>Or,you can search other people cases and upload evidence for them collaboratively(Need key)</h5>
                        </div>
						<div class="wrapper">
							<div class="left">
								<ul>
									<li>
										<div class="list_inner">
                                            <div class="edrea_tm_button transition_link">
							                <a href="/cases/">DashBoard</a>
						                    </div>
										</div>
									</li>
									<li>
										<div class="list_inner">
                                            <div class="edrea_tm_button transition_link">
							                <a href="/View/">Cases</a>
						                    </div>
										</div>
									</li>
									<li>
										<div class="list_inner">
                                            <div class="edrea_tm_button transition_link">
							                <a href="/Evidence/">Evidence</a>
						                    </div>
										</div>
									</li>
									<li>
										<div class="list_inner">
                                            <div class="edrea_tm_button transition_link">
							                <a href="/Report/">Step4:Generate Report</a>
						                    </div>
										</div>
									</li>
								</ul>
							</div>
							<div class="right" id="input">
								<div class="fields">
                            <div class="edrea_tm_main_title">
                                {% if lenevidence > 0 %}
							<h5>You have <span class="coloring"> {{ lenevidence }}</span> evidence in total</h5>
                                {% endif %}
                                {% if lenevidence == 0 %}
                                    <h5>There is no evidence in your account, please set up a case first</h5>
                                {% endif %}
                                <p>The double-headed arrow links the bound case name</p>
						    </div>
                                 {% for e in elist %}
                                        <div class="list_inner">
                                         <h6>{{ e.EvidenceName }} &harr; <span class="coloring">{{ e.ComCaseName }}</span></h6>
                                                <div class="text_hiden" id="hidenDiv">
                                                    <p><span style="color: aqua">Evidence Type:</span>{{ e.EvidenceType }}</p>
                                                    <p><span style="color: aqua">Evidence Source:</span>{{ e.Source }}</p>
                                                    <p><span style="color: aqua">Evidence location:</span>{{ e.EvidenceLoc }}</p>
                                                     <p><span style="color: aqua">Evidence Summary:</span></p>
                                                    <textarea name="" rows="10" cols="30" >{{ e.EvidenceSummary }}</textarea>
                                                </div>
										</div>
                                    {% endfor %}
                                  <br>
                            <div class="list_inner">
                            <div class="edrea_tm_button transition_link">
                                   <a href="/SerchCase/" class="newcase_button" style="color: #4CAF50; background-color: aqua">Upload Evidence for Others' Cases</a>
                            </div>
                            </div>
                            </div>
                            </div>
						</div>
					</div>
                </div>
        </div>
</div>
<!-- SCRIPTS -->
<script src="/static/js/jquery.js"></script>
<script src="/static/js/plugins.js"></script>
<!-- /SCRIPTS -->

</body>
</html>