<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Name web site">
<title>welcome to website</title>
<!-- reference style -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<!--<link rel="stylesheet" type="text/css" href="/static/CSS/plugins.css" /> -->
<link rel="stylesheet" type="text/css" href="/static/CSS/style2.css" />
<!--<script type="text/javascript" src="/static/js/modernizr.custom.js"></script>-->
<script type="text/javascript">
    function clickToshowInfor() {
        var object=document.getElementById("{{ c.caseId }}")
        alert(object.id)
    }
</script>
</head>
<body>
<div class="edrea_tm_all_wrap" data-magic-cursor="show" data-enter="fadeInUp" data-exit="">
		<div class="waves"></div>
        <!-- LOGO -->
		<div class="edrea_tm_topbar">
			<div class="topbar_inner">
				<div class="logo">
					<a href="#"><img src="/static/CSS/img/logo/logo2.png" alt="" /></a>
				</div>
			</div>
		</div>
        <!-- BAR -->
		<div class="edrea_tm_mobile_menu">
			<div class="inner">
				<div class="menu_list">
					<ul class="transition_link">
						<li><a href="/homepage/">Home</a></li>
						<li><a href="/patternpage/">pattern</a></li>
						<li class="active"><a href="#">cases management</a></li>
						<li><a href="/contact/">feedback</a></li>
                        <li>Hello <span class="coloring">{{user}} </span>
							<a href="/signout/" style="color: #4481eb;">Sign Out</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- HEADER -->
		<div class="edrea_tm_header">
			<div class="header_inner">
				<div class="logo">
					<a href="#"><img src="/static/CSS/img/logo/logo2.png" alt="" /></a>
				</div>
				<div class="menu">
					<ul class="transition_link">
						<li><a href="/homepage/">Home</a></li>
						<li><a href="/patternpage/">pattern</a></li>
						<li class="active"><a href="/cases/">cases management</a></li>
						<li><a href="/contact/">feedback</a></li>
                        <li>Hello <span class="coloring">{{user}} </span>
							<a href="/signout/" style="color: #4481eb;">Sign Out</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /HEADER -->
<div class="edrea_tm_content">
		<!-- CONTENT CASE OPERATER-->
		<div class="edrea_tm_section active" id="input">
				<div class="section_inner">
					<div class="edrea_tm_contact">
						<div class="edrea_tm_main_title">
							<h3>Manage your current Data source about: <span class="coloring">{{ eName }}</span></h3>
						</div>
						<div class="wrapper">
							<div class="left">
								<ul>
									<li>
										<div class="list_inner">
                                            <div class="edrea_tm_button transition_link">
                                                <a href="/cases/">DashBoard</a>
						                    </div>
										</div>
									</li>
									<li>
										<div class="list_inner">
                                            <div class="edrea_tm_button transition_link">
							                <a href="/View/">Cases</a>
						                    </div>
										</div>
									</li>
									<li>
										<div class="list_inner">
                                            <div class="edrea_tm_button transition_link">
							                <a href="/Evidence/">Evidence</a>
						                    </div>
										</div>
									</li>
									<li>
										<div class="list_inner">
                                            <div class="edrea_tm_button transition_link">
							                <a href="/source/">Sources</a>
						                    </div>
										</div>
									</li>
								</ul>
							</div>
							<div class="right">
                             <div class="edrea_tm_button transition_link">
                                   <a href="/ShowCaseEvidence/?caseid={{ cid }}"  style="color:white; background-color: red">Back to Evidence Page</a>
                                 <p style="color: #F52225">{{ messagelist }}</p>
                             </div>
                                <div class="edrea_tm_main_title">
                                {% if listLen > 0 %}
							<h5>Current Evidence has<span class="coloring"> {{ listLen }}</span> Source</h5>
                                {% endif %}
                                {% if listLen == 0 %}
                                    <h6>There is no data source in the current Evidence, To help with analysis of the feasibility of your case, please add at least one</h6>
                                {% endif %}
						    </div>
                             {% for s in SourceList %}
                                        <div class="list_inner">
                                            <h4><span style="color: chocolate">Source Name: {{ s.SourceName }} </span> </h4>
                                                <div class="text_hiden" id="hidenDiv">
                                                <p><span style="color: aqua">Principal:</span>{{ s.Principal }} </p>
                                                    <p><span style="color: chocolate">Type:</span>{{ s.SourceType }}</p>
                                                    <p><span style="color: chocolate">Manufacturer:</span>{{ s.Manufacturer }}</p>
                                                    <p><span style="color: chocolate">Model:</span>{{ s.Model }}</p>
                                                    <p><span style="color: chocolate">System:</span>{{ s.System }}</p>
                                                    <p><span style="color: chocolate">SerialNumber:</span>{{ s.SerialNumber }}</p>
                                                    <p><span style="color: chocolate">Attachment:</span>{% if s.Attachment == '0' %} No attachment file{% else %} <a style="color: #4CAF50" href="/downloada/?sid={{ s.SourceId }}">{{ s.Attachment }}</a>{% endif %} </p>
                                                </div>
                                            <hr/>
                                            <h5>Automatic Analysis:</h5>
                                            {% if s.Encryptionstatus == "1" and flag == 0 %}
                                                <h6 style="color: #F52225">1.Key Disclosure Legality：&#10006;</h6>
                                                <p><span class="coloring">The source is in a jurisdiction where the suspect is exempt from self-incrimination,forcing suspects to provide keys is illegal,suggent solution:</span></p>
                                                <p>1.Use the 'Delete' button below to exclude this source</p>
                                                <p>2.If the wrong legal jurisdiction is entered, update the geographic location of Evidence<a href="/ShowCaseEvidence/?caseid={{ cid }}"  style="color:white; background-color: red">Back to evidence</a></p>
                                                <p>3.In case of a typo of encryptonstatus, use the 'Edit' button below to change the source to unencrypted</p>
                                            {% elif s.Encryptionstatus == '1' and flag == 1 and s.warrant == "0" %}
                                                <h6 style="color: #ff7a06">1.Key Disclosure Legality：&#65533; </h6>
                                                <p style="color: #ff7a06">The source is in a jurisdiction allows mandatory key disclosure,suggent solution:</p>
                                                 <p>1.Use the 'Delete' button below to exclude this source</p>
                                                 <p>2.Submit a warrant-><a href="/warrantsumbit/?sid={{ s.SourceId }}">Sumit
                                                        </a></p>
                                                <p>3.In case of a typo, use the 'Edit' button below to change the source to unencrypted</p>
                                            {% elif s.Encryptionstatus == '1' and flag == 1  and s.warrant != "0" %}
                                                 <h6 style="color: greenyellow">1.Key Disclosure Legality：&#65533;The source is encrypted，but you have obtained warrant for key discloure:</h6>
                                                <p>You can resubmit warrant documents: <a style="color: #4CAF50" href="/warrantsumbit/?sid={{ s.SourceId }}">ReSumit
                                                </a></p>
                                                <p>Or download current warrant to check: <a style="color: #4CAF50" href="/downloadw/?sid={{ s.SourceId }}">Download</a></p>
                                                <p>Or clear warrant: <a style="color: #4CAF50" href="/clearW/?sid={{ s.SourceId }}">Clear
                                                </a></p>
                                            {% elif s.Encryptionstatus == '1' and flag == -1 and s.warrant == "0" %}
                                                <h6 style="color: #ff7a06">1.Key Disclosure Legality：&#65533; </h6>
                                                <p style="color: #ff7a06">The source of evidence is the EU region, which does not have uniform key disclosure regulations,suggent solution:</p>
                                                 <p>1.Use the 'Delete' button below to exclude this source</p>
                                                 <p style="color: #4CAF50">2.If the source of evidence is located in the following countries allow forced decryption:Netherlands, Ireland, France, Belgium, Finland，submit a warrant-><a href="/warrantsumbit/?sid={{ s.SourceId }}">Sumit
                                                        </a></p>
                                                <p style="color: #F52225">3.You cannot compel decryption of this source to obtain data if it is not within the above countries，-></p>
                                                   1.Use the 'Delete' button below to exclude this source.2.If the wrong legal jurisdiction is entered, update the geographic location of Evidence<a href="/ShowCaseEvidence/?caseid={{ cid }}"  style="color:white; background-color: red">Back to evidence</a></p>
                                            {% elif s.Encryptionstatus == '1' and flag == -1 and s.warrant != "0" %}
                                                <h6 style="color: greenyellow">1.Key Disclosure Legality：&#65533;The source is encrypted，but you have obtained warrant for key discloure:</h6>
                                                <p>You can resubmit warrant documents: <a style="color: #4CAF50" href="/warrantsumbit/?sid={{ s.SourceId }}">ReSumit
                                                </a></p>
                                                <p>Or download current warrant to check: <a style="color: #4CAF50" href="/downloadw/?sid={{ s.SourceId }}">Download</a></p>
                                                <p>Or clear warrant: <a style="color: #4CAF50" href="/clearW/?sid={{ s.SourceId }}">Clear
                                                </a></p>
                                            {% elif s.Encryptionstatus == '0' %}
                                                 <h6 style="color: greenyellow">1.Key Disclosure Legality：&#10004;</h6>
                                                 <p><span style="color: greenyellow">The source is in clear text, no key is required to decrypt</span></p>
                                            {% endif %}

                                            <hr/>

                                            {% if s.Private == '0' %}
                                                 <h6 style="color: greenyellow">2.Privacy Legality：&#10004;</h6>
                                                 <p><span style="color: greenyellow">The source is marked as public,no privacy concerns</span></p>
                                            {% elif s.Private == '1' and s.justification == '0' %}
                                                <h6 style="color: #F52225">2.Privacy Legality：&#10006;</h6>
                                                 <p style="color: brown">The source is marked as private,Proof of justification should be statement advance for judicial reference prior to any extraction and inspection operations</h6>
                                                 <p>Suggent solution:</p>
                                                 <p>1.Use the 'Delete' button below to exclude this source</p>
                                                 <p>2.Statement a justification-><a href="/justificationsumbit/?sid={{ s.SourceId }}">Sumit
                                                        </a></p>
                                                <p>3.In case of a typo, use the 'Edit' button below to change the source to non-private</p>
                                             {% elif s.Private == '1' and s.justification != '0' %}
                                                <h6 style="color: greenyellow">2.Privacy Legality：&#65533;The source is marked as private，but you have Statement a justification for privacy check :</h6>
                                                <p>You can resubmit justification :<a style="color: #4CAF50" href="/justificationsumbit/?sid={{ s.SourceId }}">ReSumit
                                                </a></p>
                                                <p>Or download current warrant to check: <a style="color: #4CAF50" href="/downloadj/?sid={{ s.SourceId }}">Download</a></p>
                                                <p>Or clear warrant: <a style="color: #4CAF50" href="/clearJ/?sid={{ s.SourceId }}">Clear
                                                </a></p>
                                            {% endif %}
                                            <hr/>
                                        <div class="edrea_tm_button transition_link">
                                               <a href="/DeleteSource/?sid={{ s.SourceId }}">Delelte</a><a href="/UpdateSource/?sid={{ s.SourceId }}">Edit</a>
                                        </div>
										</div>
                                        <hr style="border: 5px solid grey;"/>
                                    {% endfor %}
                            <div class="list_inner">
                            <div class="edrea_tm_button transition_link">
                                   <a href="/SetupnewSource/?evidenceId={{ eid }}" class="newcase_button" style="color: #4CAF50; background-color: aqua">Set up a new Data Source</a>
                            </div>
                            </div>
                            </div>
						</div>
					</div>
                </div>

        </div>
</div>
<!-- SCRIPTS -->
<script src="/static/js/jquery.js"></script>
<script src="/static/js/plugins.js"></script>
<script src="/static/js/script.js"></script>

<!-- /SCRIPTS -->

</body>
</html>