<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Name web site">
<title>welcome to website</title>
<!-- reference style -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<!--<link rel="stylesheet" type="text/css" href="/static/CSS/plugins.css" /> -->
<link rel="stylesheet" type="text/css" href="/static/CSS/style2.css" />
<!--<script type="text/javascript" src="/static/js/modernizr.custom.js"></script>-->

</head>

<body>
    <!--
	<div id="preloader">
		<div class="loader_line"></div>
	</div>
    -->
	<div class="edrea_tm_all_wrap" data-magic-cursor="show" data-enter="fadeInUp" data-exit="">
		<div class="waves"></div>
		<!-- MOBILE MENU -->
        <!-- logo -->
		<div class="edrea_tm_topbar">
			<div class="topbar_inner">
				<div class="logo">
					<a href="#"><img src="/static/CSS/img/logo/logo2.png" alt="" /></a>
				</div>
			</div>
		</div>
        <!-- bar -->
		<div class="edrea_tm_mobile_menu">
			<div class="inner">
				<div class="menu_list">
					<ul class="transition_link">
						<li class="active"><a href="/homepage/">Home</a></li>
						<li ><a href="/patternpage/">pattern</a></li>
						<li><a href="/cases/">cases management</a></li>
						<li><a href="/contact/">Contact and feedback</a></li>
                        <li>Hello {{user}} </li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /MOBILE MENU -->

		<!-- HEADER -->
		<div class="edrea_tm_header">
			<div class="header_inner">
				<div class="logo">
					<a href="#"><img src="/static/CSS/img/logo/logo2.png" alt="" /></a>
				</div>
				<div class="menu">
					<ul class="transition_link">
						<li class="active"><a href="/homepage/">Home</a></li>
						<li><a href="/patternpage/">pattern</a></li>
						<li><a href="/cases/">cases management</a></li>
						<li><a href="/contact/">Contact and feedback</a></li>
                        <li>Hello <span class="coloring">{{user}} </span></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="edrea_tm_content">
			<!-- HOMEPAGE -->
			<div class="edrea_tm_section animated" id="home">
				<div class="section_inner">
					<div class="edrea_tm_home">
						<h3 class="name">Case <span class="coloring">Analysiser</span></h3>
						<h3 class="job">
							<span class="cd-headline rotate-1">
								<span class="blc">For</span>
								<span class="cd-words-wrapper">
								  <b class="is-visible">Investigator&</b>
								  <b>Counsel&</b>
								  <b>Officer</b>
								</span>
							</span>
						</h3>
						<div class="edrea_tm_button transition_link">
							<a href="/patternpage/">Learn more</a>
						</div>
					</div>
                  </div>
                <!-- DOWN PART TEXT -->

                <div class="section_inner">
                 <div class="container_text">
                        <div class="logo">
					    <a href="#"><img src="/static/CSS/img/logo/homepage1.png" alt="" /></a>
				        </div>
                        <P>Learn how the website works and how the main patterns used work</P>
                        <div class="edrea_tm_button transition_link">
							<a href="/patternpage/">Learn more</a>
						</div>
                    </div>
                    <div class="container_text">
                        <div class="logo">
					    <a href="#"><img src="/static/CSS/img/logo/homepage2.png" alt="" /></a>
				        </div>
                        <P>Start managing your case now and generate the legal advice report </P>
                        <div class="edrea_tm_button transition_link">
							<a href="/cases/">Learn more</a>
						</div>
                    </div>
                    <div class="container_text">
                        <div class="logo">
					    <a href="#"><img src="/static/CSS/img/logo/homepage3.png" alt="" /></a>
				        </div>
                        <P>Contact the author for suggestions and comments</P>
                        <div class="edrea_tm_button transition_link">
							<a href="/contact/">Learn more</a>
						</div>
                    </div>
                 </div>
				</div>
			</div>
    </div>
<!-- SCRIPTS -->
<script src="/static/js/jquery.js"></script>
<script src="/static/js/plugins.js"></script>
<!-- /SCRIPTS -->

</body>
</html>