<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome to website</title>
    <link rel="stylesheet" href="/static/CSS/style.css">
</head>
<body>
    <div class="container">
        <!-- MAIN COUTAINER(sign in part and sign up part)-->
        <div class="forms-container">
            <div class="signin-signup">
                <form action="/signin/" class="sign-in-form" method="post">
                    <h3 class="title-a">This website analyzes legal cases across multiple countries and generates advisory reports in accordance with relevant data transfer and privacy laws </h3>
                    <h2 class="title">Log in </h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="username" name="username"/>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="password" name="password"/>
                    </div>
                    <input type="submit" value="Login" class="btn solid" />
                    <p class="social-text">or you can visit this site as guest</p>
                    <input type="submit" value="Guset Model" class="btn solid" />
                </form>
                <form action="/signup/" class="sign-up-form" method="post">
                    <h2 class="title">Register</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="username" name="newname"/>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <input type="email" placeholder="Email" name="newemail"/>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="password" name="newpassword"/>
                    </div>
                    <input type="submit" class="btn" value="Sign up" />
                    <p class="social-text">text text text ????</p>
                </form>
            </div>
            <!-- MAIN COUTAINER(sign in part and sign up part)-->
        </div>
         <!-- PANELS SWITCH -->
        <div class="panels-container">
            <div class="panel left-panel">

                <div class="content">
                    <h3>New here ?</h3>
                    <p>
                        Quickly create an account, only need a valid email address and password, with an account will be able to use the record function of this website
                    </p>
                    <button class="btn transparent" id="sign-up-btn">
                        Sign up
                    </button>
                </div>
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>Already have an account?</h3>
                    <p>
                        Log in now to start analyzing the case you are perplexed by and get legal advice quickly!
                    </p>
                    <button class="btn transparent" id="sign-in-btn">
                        Sign in
                    </button>
                </div>
            </div>
        </div>
         <!-- PANELS SWUTVH -->
    </div>
   <!-- SCRIPTS -->
    <script src='https://kit.fontawesome.com/64d58efce2.js'></script>
    <script src="/static/js/script.js"></script>
   <!-- SCRIPTS -->
</body>
</html>
