<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Name web site">
<title>welcome to website</title>
<!-- reference style -->

</head>
<body>
 <form action="/buildLaw/" class="sign-up-form" method="post">
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="countryname" name="national"/>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <input type="text" placeholder="lawname" name="nameoflaw"/>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="text" placeholder="keypoints" name="KeyPoints"/>
                    </div>
                    <div class="input-field">
	                strict: <input type="radio" name="mode" checked="yes" value="strict"/>
                        neutral: <input type="radio" name="mode" value="neutral" />
	                 Open: <input type="radio" name="mode" value="open"/>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="text" placeholder="countryrelative" name="rCountry"/>
                    </div>
                    <input type="submit" class="btn" value="input" />
 </form>
</body>
</html>