<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Name web site">
<title>welcome to website</title>
<!-- reference style -->

</head>
<body>
 <form action="/buildLaw/" class="sign-up-form" method="post">
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="username" name="national"/>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <input type="text" placeholder="Email" name="nameoflaw"/>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="text" placeholder="password" name="KeyPoints"/>
                    </div>
                    <input type="submit" class="btn" value="input" />
 </form>
<!-- SCRIPTS -->
<script src="/static/js/jquery.js"></script>
<script src="/static/js/plugins.js"></script>
<!-- /SCRIPTS -->

</body>
</html>