<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Name web site">
<title>welcome to website</title>
<!-- reference style -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<!--<link rel="stylesheet" type="text/css" href="/static/CSS/plugins.css" /> -->
<link rel="stylesheet" type="text/css" href="/static/CSS/style2.css" />
<!--<script type="text/javascript" src="/static/js/modernizr.custom.js"></script>-->

</head>
<body>
<div class="edrea_tm_all_wrap" data-magic-cursor="show" data-enter="fadeInUp" data-exit="">
		<div class="waves"></div>
        <!-- LOGO -->
		<div class="edrea_tm_topbar">
			<div class="topbar_inner">
				<div class="logo">
					<a href="#"><img src="/static/CSS/img/logo/logo2.png" alt="" /></a>
				</div>
			</div>
		</div>
        <!-- BAR -->
		<div class="edrea_tm_mobile_menu">
			<div class="inner">
				<div class="menu_list">
					<ul class="transition_link">
						<li><a href="/homepage/">Home</a></li>
						<li><a href="/patternpage/">pattern</a></li>
						<li class="active"><a href="#">cases management</a></li>
						<li><a href="#laws">Contact and feedback</a></li>
                        <li>Hello {{user}} </li>
					</ul>
				</div>
			</div>
		</div>

		<!-- HEADER -->
		<div class="edrea_tm_header">
			<div class="header_inner">
				<div class="logo">
					<a href="#"><img src="/static/CSS/img/logo/logo2.png" alt="" /></a>
				</div>
				<div class="menu">
					<ul class="transition_link">
						<li><a href="/homepage/">Home</a></li>
						<li><a href="/patternpage/">pattern</a></li>
						<li class="active"><a href="/cases/">cases management</a></li>
						<li><a href="/contact/">Contact and feedback</a></li>
                        <li>Hello <span class="coloring">{{user}} </span></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /HEADER -->
<div class="edrea_tm_content">
		<!-- CONTENT CASE OPERATER-->
		<div class="edrea_tm_section active" id="input">
				<div class="section_inner">
					<div class="edrea_tm_contact">
						<div class="edrea_tm_main_title">
							<h3>Quickly build a new case</h3>
						</div>
						<div class="wrapper">
							<div class="left">
								<ul>
									<li>
										<div class="list_inner">
                                            <div class="edrea_tm_button transition_link">
                                                <a href="/cases/">DashBoard</a>
						                    </div>
										</div>
									</li>
									<li>
										<div class="list_inner">
                                            <div class="edrea_tm_button transition_link">
							                <a href="/View/">Cases</a>
						                    </div>
										</div>
									</li>
									<li>
										<div class="list_inner">
                                            <div class="edrea_tm_button transition_link">
							                <a href="/Evidence/">Avidence</a>
						                    </div>
										</div>
									</li>
									<li>
										<div class="list_inner">
                                            <div class="edrea_tm_button transition_link">
							                <a href="/source/">Sources</a>
						                    </div>
										</div>
									</li>
								</ul>
							</div>
							<div class="right">
                                <div class="fields">
                                <form action="/NewcaseSubmit/" method="post" class="contact_form">
											<ul>
												<li>
                                                    <h6>Case Name</h6>
													<div class="list_inner">
														<input id="name" name="Name" type="text" placeholder="Name" autocomplete="off">
													</div>
												</li>
												<li>
                                                     <h6>Case ID</h6>
													<div class="list_inner">
														<input id="ID" name="ID" type="text" placeholder="ID" autocomplete="off">
													</div>
												</li>
                                                <li>
                                                     <h6>Select Case involving countries/area</h6>
													<div class="list_inner">
														<p>
                                                             US <input type="checkbox" name="area" value="US" />
	                                                         UK <input type="checkbox" name="area" value="UK" />
	                                                         EU <input type="checkbox" name="area" value="EU" />
	                                                         CHINA <input type="checkbox" name="area" value="CHINA" />
                                                             RUSSIAN <input type="checkbox" name="area" value="RUSSIAN" />
                                                             JAPAN <input type="checkbox" name="area" value="JAPAN" />
                                                        </p>
													</div>
												</li>
                                                <li>
                                                     <h6>Case Investigator: {{ user }}</h6>
												</li>
                                                <li>
                                                     <h6>Investigator email</h6>
													<div class="list_inner">
														<input id="emial" name="InvEmail"type="text" placeholder="Emial " autocomplete="off" style="">
													</div>
												</li>
                                                <li>
                                                     <h6>Select Type of Case</h6>
													<div class="list_inner">
														<p>
                                                             Finance <input type="checkbox" name="Type" value="finance" />
	                                                         Scam <input type="checkbox" name="Type" value="scam" />
	                                                         Disclose <input type="checkbox" name="Type" value="Disclose" />
	                                                         Politics/Religion <input type="checkbox" name="Type" value="politics/religion" />
                                                             Insider Threat <input type="checkbox" name="Type" value="insider threat" />
                                                        </p>
													</div>
												</li>
                                                <li>
                                                     <h6>Case synopsis</h6>
                                                </li>
                                            </ul>
                                        <div class="last">
											<textarea id="message" name="synopsis" placeholder="a short summry to this case(max 1000 words)"></textarea>
										</div>
										<div class="edrea_tm_button">
											<input type="submit" class="btn" value="Submit" />
										</div>
									</form>
                            </div>
						</div>
					</div>
                </div>

        </div>
</div>
<!-- SCRIPTS -->
<script src="/static/js/jquery.js"></script>
<script src="/static/js/plugins.js"></script>
<script src="/static/js/script.js"></script>
<!-- /SCRIPTS -->

</body>
</html>